<div class="row">

  <div class="row">
    <h3>Ingredientes</h3>
    <hr>
  </div>

  <div class="col-xs-12">

    <table class="table table-hover">
      <thead>
        <tr>
          <td><h4>Ingrediente</h4></td>
          <td><h4>Cantidad total</h4></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredientItem of ingredients">
          <td>{{ingredientItem.name}}</td>
          <td>{{ingredientItem.amount}}</td>
        </tr>
      </tbody>
    </table>
    <!--<ul class="list-group">-->
      <!--<li class="list-group-item"-->
        <!--*ngFor="let ingredientItem of ingredients">-->
        <!--{{ ingredientItem.name }} - {{ ingredientItem.amount }}-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</div>
